* {
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.input-regular {
    border: 1px solid #C1BFBF;
    border-radius: 3px;
 
    padding: 3px 8px;
}

.input-regular:focus {
    outline-color: #389AB9;
}


.btn-regular {
    color: white;
    background-color: #2A525F ;
    transition: 0.4s ease;
    border-radius: 3px;
    border: 2px solid #2A525F;
    padding: 4px 6px;
 
}

.btn-regular:hover {
    cursor: pointer;
    background-color: white;
    color: #2A525F;
}

.btn-cancel {
    color: white;
    background-color: red ;
    transition: 0.4s ease;
    border-radius: 3px;
    border: 2px solid red;
    padding: 4px 6px;
}

.btn-cancel:hover {
    cursor: pointer;
    background-color: white;
    color: red;
}


.toast-container {
    width: 50%;
    max-width: 350px;
    position: fixed;
    bottom: 40px;
    right: 20px; 
    font-size: 16px;
    line-height: 1.3
}

.toast-title {
    font-weight: 600;
    font-size: 18px;
}

.toast-success {
    color: white ;
    background-color: #3C65F0;
    border: 1px solid #3C65F0;
    padding: 24px 30px;
    border-radius: 6px;
}

.toast-error {
    color: white ;
    background-color: #E63232;
    border: 1px solid #E63232;
    padding: 24px 30px;
    border-radius: 6px;
}

.toast-close-button {
    border-radius: 50%;
    background-color: white;
    color: #3C65F0;
    transition: .2s ease;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
}

.toast-close-button:hover {
    background-color: #F3EDED;
    cursor: pointer;
}

.notif {
    background-color: white;
    border-width: 3px;
    border-style: solid;
    border-radius: 4px;
    width: 50%;
    padding: 10px 16px;
}

.notif-regular {
    color: #0D3DDD ;
    border-color: #0D3DDD ;
}

.notif-cancel{
    color: red;
    border-color: redl
}

table {
    border-collapse: collapse;
}

th {
    background-color: #2A525F;
    color: white;
    font-weight: 600; 
    padding: 8px 16px;
}
  
td {
    text-align: center;
    padding: 8px 16px;
}

tbody > tr {
    transition: 0.2s ease;
}

tbody > tr:hover {
    background-color: #D4DEEC;
    cursor: pointer;
}

  
 
  